* {
	padding: 0;
	margin: 0;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

	header {
		background: silver;
		width: 1000px;
		height: 100px;
		margin: 20px 0;
	}

	nav {
		background: gray;
		width: 1000px;
		height: 50px;
		margin: 20px 0;
	}

	main {
		background: silver;
		width: 1000px;
		height: 500px;
		margin: 20px 0;
	}

		#sec1 {

		}

		#sec2 {

		}

			article {

			}

	footer {
		background: silver;
		width: 1000px;
		height: 50px;
		margin: 20px 0;
	}