* {
	padding: 0;
	margin: 0;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

	header {
		background: silver;
		width: 1000px;
		margin: 20px 0;
	}

	header h1 {
		color: white;
		font-family: arial;
		padding: 20px;
	}

	nav {
		background: #666;
		width: 1000px;
		margin: 20px 0;
	}

		nav ul {

		}

			nav li {
				float: left;
				list-style: none;
				padding: 10px 20px;
			}

			nav li:hover {
				background: #CF5C3F;
				color: white;
				cursor: pointer;
			}

	main {
		width: 1000px;
		margin: 20px 0;
	}

		#sec1 {
			float: left;
			width: 650px;
		}

		#sec2 {
			float: right;
		}

			article {
				background: white;
				padding: 20px;
				margin: 10px 0;
			}

				.title {
					color: brown;
					margin: 10px 0;
					font-size: 25px; 
				}

				.description {
					font-size: 17px;
					line-height: 20px;
				}

				.metadata {
					margin: 10px 0;
				}

	footer {
		background: silver;
		width: 1000px;
		height: 50px;
		margin: 20px 0;
	}