* {
	padding: 0;
	margin: 0;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

	header {
		background: silver;
		width: 1000px;
		margin: 20px 0;
		border-radius: 5px;
	}

	header h1 {
		color: white;
		font-family: arial;
		padding: 20px;
	}

	nav {
		background: #666;
		width: 1000px;
		margin: 20px 0;
		border-radius: 5px;
	}

		nav ul {

		}

			nav li {
				float: left;
				list-style: none;
				padding: 10px 20px;
			}

			nav li:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			nav li:hover {
				background: #CF5C3F;
				color: white;
				cursor: pointer;
			}

	main {
		width: 1000px;
		margin: 20px 0;
	}

		#sec1 {
			float: left;
			width: 650px;
		}

		#sec2 {
			float: right;
			width: 320px;
		}

			aside {
				background: white;
				padding: 20px;
				margin: 10px 0;
				border-radius: 5px;
			}	

				.list-heading {
					font-size: 23px;
					text-align: center;
				}

				.list-data {

				}		

					.lists {
						background: brown;
						color: white;
						border: black 1px solid; 
						margin: 5px 0;
						padding: 5px;
					}

					.lists:hover {
						background: silver;
					}

				aside input {
					width: 280px;
					height: 30px;
					box-shadow: inset 0 0 5px gray;
					border: 1px solid black;
				}

				aside button {
					width: 280px;
					height: 30px;
					border: 1px solid black;
					background: brown;
					color: white;
					font-size: 18px;
					margin: 10px 0;
				}

			article {
				background: white;
				padding: 20px;
				margin: 10px 0;
				border-radius: 5px;
			}

				.title {
					color: brown;
					margin: 10px 0;
					font-size: 25px; 
				}

				.description {
					font-size: 17px;
					line-height: 20px;
				}

				.metadata {
					margin: 10px 0;
					color: gray;
				}

	footer {
		background: silver;
		width: 1000px;
		margin: 20px 0;
		text-align: center;
		padding: 20px;
		border-radius: 5px;
	}